{% extends 'user/base.html' %}
{% block content %}
    <center><h3>Adding episodes</h3></center>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{form.name.id_for_label}}">Name</label>
            <input type="text" required name="name" id="{{form.name.id_for_label}}" class="form-control" placeholder="Episodes name">
        </div>
        <div class="form-group">
            <label for="{{form.episode_url.id_for_label}}">Link</label>
            <input type="text" required name="episode_url" id="{{form.episode_url.id_for_label}}" class="form-control">
        </div>
        <!-- Select Movie -->
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}