{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'user/main.css' %}"> {% block load_css %}{% endblock load_css %}
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />#}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
            integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
            crossorigin="anonymous"></script>
    <style>
        .dropdown-item:hover{
            background-color: #047afc;
        }
        ul li a:hover{
            color: white;
            text-decoration: none;
        }
        ul li{
            list-style:none;
            padding-left: 0px;
            padding-right: 0px;
        }
        ul li a{
            {#background-color: #993300;#}
            color: black;
            display:block;
            margin: 0px 5px;
        }
    </style>



    <title>Web Movie</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand mr-4" href="{% url 'home' %}">Web Movie</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
                <a class="nav-item nav-link" href="#">About Us</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav mr-4">
                <form class="form-inline my-2 my-lg-0" action="/search/" id="search-form" method="post">
                    {% csrf_token %}
                    <div class="dropdown">
                        <input name="txt1" id="txtSearch" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" autocomplete="on">
                        <button id="btn-search" class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
                {% if user.is_authenticated %}
                <div class="nav-item dropdown ml-4">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="#">My movies</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>
                {% else %}
                <a class="nav-item nav-link ml-4" href="{% url 'register' %}">Register</a>
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a> {% endif %}
            </div>
        </div>
    </nav>

    <div class="row">
        {#        <div class="col-sm-2">#}
        {#            <button class="col-sm-2" type="button" class="btn btn-link">Thể loại</button>#}
        {#        </div>#}
        {#        <div class="col-sm-1"></div>#}
        <a class="col-sm-4 text-center header_link" href="/type/phim-le">
            Phim lẻ
        </a>
        <a class="col-sm-4 text-center header_link" href="/type/phim-bo">
            Phim bộ
        </a>
        <div class="dropdown col-sm-4">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
        {#        <div class="col-sm-2"></div>#}
    </div>

    <main role="main" class="container">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %} {% endif %} {% block content %}{% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block load_js %}{% endblock load_js %}
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        var movie = [];
        $(document).ready(function() {
            $("#txtSearch").autocomplete({
                minLength: 1,
                source: function(request, response) {
                    // Fetch data
                    var form = $('#search-form');
                    $.ajax({
                        headers: {
                            "X-CSRFToken": csrftoken
                        },
                        url: "/ajax_calls/search/",
                        type: 'post',
                        dataType: "json",
                        data: form.serialize(),
                        success: function(data) {
                            movie = [];
                            for (i = 0; i < data.length; i++) {
                                var o = data[i]
                                var dict = {};
                                Object.keys(o).forEach(function eachKey(key) {
                                    dict.title = key
                                    dict.url = o[key]
                                    movie.push(dict)
                                });
                            }
                            response(movie);
                        }
                    });
                },
                focus: function(event, ui) {
                    $("txtSearch").val(ui.item.title);
                    return false;
                },
                select: function(event, ui) {
                    $("#txtSearch").val(ui.item.title);
                    return false;
                }
            })
            .autocomplete("instance")._renderItem = function(ul, item) {
                ul.attr("class", "dropdown-menu");
                return $("<li class=\"dropdown-item\" style='padding: 8px 0px;'>")
                    .append("<a href='" + item.url + "'>" + item.title + "</a>")
                    .appendTo(ul)
            }
        });
    </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'user/search.js' %}"></script>
</body>

</html>