{% extends 'user/base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1>{% block title %} {{ episode.name }} {% endblock title %}</h1>
                    <p class=" text-muted">{{ episode.movie.title }}</p>
                    <p class="card-text ">{{ episode.episode_url }}</p>
                    <video width="320" height="240" controls>
                        <source src="https://www.youtube.com/watch?v=ybfq5gtvnj0" type="video/mp4">
                    </video>
                    <iframe width="748" height="421" src="https://www.youtube.com/embed/ybfq5gtvnj0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    <!-- comments -->
                    <h2>{{ comments.count }} comments</h2>

                    {% for comment in comments %}
                        <div class="comments" style="padding: 10px;">
                            <p class="font-weight-bold">
                                {{ comment.user.username }}
                                <span class=" text-muted font-weight-normal">
              {{ comment.date }}
            </span>
                            </p>
                            {{ comment.content | linebreaks }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        <h3>Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
{#                            {{ comment_form.as_p }}#}
                            <div class="form-group">
                                <label for="{{ comment_form.content.id_for_label }}">Comment:</label>
                                <textarea name="content" class="form-control" rows="5" id="{{ comment_form.content.id_for_label }}" ></textarea>
                            </div>
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}