{%  extends 'user/base.html' %}
{% block content %}
        <div class="row">
            {% for actor in actors %}
            <div class="col-sm-3">
                <div class="card" style="width: 15rem;">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{{actor.id}}"> {{actor.name}} <span class="badge badge-warning">Hot</span></a><br>
                            <span>Ngay sinh: {{actor.dob}}</span><br>
                            <span>Quoc tich: {{actor.nationality}}</span><br>
                            <a href="{% url 'actor:edit' actor.id %}"> <button type="button" class="btn btn-info">Sua</button></a>
                            <button type="button" class="btn btn-danger"><a href="#"></a>Xoa</button>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock content %}