{% extends 'user/base.html' %}
{% block content %}
    <center><h3>Them Director</h3></center>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{form.name.id_for_label}}">Ten</label>
            <input type="text" required name="name"  id="{{form.name.id_for_label}}" class="form-control" placeholder="Nhap ten">
        </div>
        <div class="form-group">
            <label for="{{form.dob.id_for_label}}">Ngay thang nam sinh</label>
            <input type="date" required name="dob" id="{{form.dob.id_for_label}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="{{form.nationality.id_for_label}}">Quoc tich</label>
            <input type="text" required name="nationality" id="{{form.nationality.id_for_label}}" class="form-control" placeholder="Nhap quoc tich">
        </div>
        <button class="btn btn-primary" type="submit">Them moi</button>
    </form>
{% endblock %}